.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px 15px 40px;
}

.header__logo {
    height: 40px;
    object-fit: contain;
}

.header__center {
	display: flex;
	align-items: center;
}

.header__button {
	display: flex;
	align-items: center;
}

.header__center > a {
    margin: 0px 8px 0px 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.header__center > a:hover {
    cursor: pointer;
    text-decoration: underline;
}